@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply base-text-color;
        @apply base-background-color;
        @apply theme-transition;
    }

    @media (max-width: 767px) {
        body {
            @apply text-sm;
        }
    }
}

@layer components {
    .dark {
        @apply text-gray-light;
        @apply bg-gray-dark;
    }

    .fixed-text-color {
        @apply base-text-color;
    }

    .theme-transition {
        @apply transition-colors duration-300 ease-in-out;
    }

    .theme-transition-all {
        transition-property: color, background-color, border-color, text-decoration-color, fill,
            stroke, opacity, box-shadow, transform, filter, backdrop-filter, height;
        transition-duration: 300ms, 300ms, 300ms, 300ms, 300ms, 300ms, 150ms, 150ms, 150ms, 150ms,
            150ms, 150ms;
        transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out,
            ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out,
            ease-in-out;
    }
}

@layer utilities {
    .base-text-color {
        @apply text-gray-mid;
    }

    .base-background-color {
        @apply bg-bare-base;
    }
}

html,
body,
#root {
    height: 100vh;
    overflow: auto;
}

body {
    font-family: "Poppins", sans-serif;
}

.main-board {
    position: relative;
    overflow: hidden;
}

.main-board::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./assets/images/mountain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}

.tile {
    overflow-wrap: anywhere;
}

.toast.gradual-on {
    transition: opacity 1s ease, transform 0s;
}

.toast.gradual-off {
    transition: opacity 1s linear, transform 0s 1s;
}

.toast.instant-off {
    transition: opacity 0s, transform 0s;
}

.clipped {
    clip-path: url(#clipped);
}
